@font-face {
  font-family: ProximaNova;
  src: url(fonts/ProximaNova.ttf);
}
@font-face {
  font-family: PTSans;
  src: url(fonts/PTSans.ttf);
}
body {
  margin: 0 auto;
  width: 100%;
}
button,
a,
.close {
  cursor: pointer;
}
.h2 {
  font-weight: bold;
  padding: 15px;
  font-size: 19px;
  text-shadow: 1px 0 1px #30363e;
}
.wrapper {
  background-color: #f4f4f4;
}
.header,
.footer {
  width: 100%;
  background: url("../img/Header-Back.png") repeat-x;
  padding: 20px 0 8px 0;
  font-family: ProximaNova;
}
.banner-container,
.banner-container img {
  position: relative;
  width: 100%;
}
.clear {
  clear: both;
}
.header-elements,
.copyright {
  width: 737px;
  margin: auto;
  padding-top: 15px;
}
.header-elements img {
  width: 42%;
  float: left;
}
.menu {
  width: 56%;
  float: right;
}
.menu li {
  display: inline-block;
  padding: 0 1%;
}
.menu li:nth-child(4) {
  padding: 0 0 0 11px;
}
.menu a {
  text-transform: uppercase;
  color: #fff;
  text-decoration: none;
  font-size: 13px;
  font-weight: bold;
}
.menu a:hover {
  text-shadow: 1px 3px 3px #cccccc;
}
.menu .img {
  margin: auto;
  width: 21%;
  padding-bottom: 29px;
}
.menu img {
  width: 22px;
}
.menu img:hover {
  width: 23px;
  cursor: pointer;
}
.flexslider-container {
  position: relative;
  height: 345px;
}
.button-registration {
  background: linear-gradient(to top, #ff7100, #FF8C00);
  color: #ffffff;
  padding: 14px;
  text-align: center;
  font-size: 18px;
  text-shadow: 1px 3px 3px #30363e;
  box-shadow: 0 0 12px -4px #dddddd;
  border: none;
  border-bottom: 2px solid #7e7e7e;
}
.button-registration:hover {
  box-shadow: 0 0 10px 1px #cccccc;
}
.slider-text {
  position: absolute;
  top: 37%;
  right: 22.5%;
  font-family: ProximaNova;
  text-align: right;
}
.slider-text h1 {
  color: #ffffff;
  font-size: 20px;
  margin: 0;
}
.slider-text p {
  margin: 2px 0;
  font-family: PTSans;
  font-size: 14px;
}
.slider-text .button-registration {
  width: 170px;
  float: right;
  margin-top: 23px;
}
.green-button {
  min-width: 144px;
  padding: 13px 27px;
  margin-top: 23px;
  background: linear-gradient(to top, #849d08, #a2c300);
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  text-shadow: 1px 3px 3px #30363e;
  border-bottom: 2px solid #7e7e7e;
}
.green-button:hover {
  box-shadow: 0 0 10px 1px #cccccc;
}
.content {
  width: 760px;
  margin: -4px auto auto;
  font-family: PTSans;
}
.content .content-left {
  width: 70%;
  float: left;
}
.content .block-news {
  width: 100%;
  float: left;
  margin: 0 0 10px 15px;
  background-color: white;
  box-shadow: 0 0 20px 3px #c8c8c8;
}
.content .image-news {
  width: 100%;
  height: 150px;
  background: url("../img/Images-Minecraft-Wallpapers.jpg") 58% 23% no-repeat;
  background-size: cover;
}
.content .title-news {
  margin-bottom: 5px;
  font-size: 18px;
}
.content .description-news {
  padding: 13px;
}
.content .description-news .text {
  font-size: 12px;
  color: #404040;
}
.content .description-news .date-publication {
  float: right;
  margin-top: 30px;
}
.content .description-news .date-publication .calendar {
  display: inline-block;
  width: 15px;
  height: 15px;
  background: url("../img/icon_14-128.png") 100% 100% no-repeat;
  background-size: cover;
  opacity: 0.6;
}
.content .description-news .date-publication p {
  display: inline-block;
  position: relative;
  top: -5px;
  color: #7e7e7e;
  font-size: 12px;
  font-weight: bold;
}
.content .right-block {
  width: 26%;
  height: auto;
  float: right;
  background-color: #dddddd;
  text-align: center;
}
.content .right-block .authorization input {
  width: 89%;
  height: 33px;
  margin-bottom: 7px;
  border: none;
  text-align: center;
  font-size: 11px;
  color: #404040;
  box-shadow: 0 0 13px 1px #c8c8c8;
}
.content .right-block .authorization .button-registration {
  width: 89%;
  margin: 5px;
}
.content .right-block .authorization a {
  font-size: 11px;
  color: black;
}
.content .right-block .authorization .registration {
  color: #6c7f00;
  margin-right: 30px;
}
.content .right-block .navigation {
  margin-top: 20px;
}
.content .right-block .navigation ul {
  width: 87%;
  margin: auto;
  padding: 0;
}
.content .right-block .navigation ul li {
  margin: 1px 0;
  padding: 5px 13px 8px;
  border: 1px solid #c8c8c8;
  list-style: none;
  text-align: left;
  cursor: pointer;
}
.content .right-block .navigation ul li a {
  color: #404040;
  text-decoration: none;
  font-size: 11px;
  font-family: ProximaNova;
}
.content .right-block .navigation ul .active {
  background: url("../img/right-arrow active.png") 92% 50% no-repeat #ffffff;
  background-size: 9%;
  box-shadow: 0 0 13px 1px #c8c8c8;
}
.content .right-block .navigation ul .active a {
  color: red;
  font-size: 10px;
  font-weight: bold;
}
.content .right-block .monitoring {
  margin: 23px 13px;
  background-color: #292929;
}
.content .right-block .monitoring .h2 {
  color: #ffffff;
}
.content .right-block .monitoring ul {
  margin: auto;
  padding: 0;
}
.content .right-block .monitoring ul li {
  padding: 10px;
  margin-bottom: 3px;
  background-color: #3e3e3e;
  list-style: none;
  text-align: left;
  color: #ffffff;
}
.content .right-block .monitoring ul li div {
  display: inline-block;
  font-size: 12px;
}
.content .right-block .monitoring ul .round-block:before {
  content: '';
  display: inline-block;
  width: 0;
  height: 100%;
  vertical-align: middle;
}
.content .right-block .monitoring ul .round-block {
  width: 19%;
  height: 28px;
  margin-top: 3px;
  color: #ff7100;
}
.content .right-block .monitoring ul .round-block p {
  display: inline-block;
  margin: 0;
  font-size: 9px;
  vertical-align: middle;
}
.content .right-block .monitoring ul .round-100 {
  background: url(../img/Round-100.png) no-repeat;
  background-size: contain;
}
.content .right-block .monitoring ul .round-88 {
  padding-left: 3px;
  background: url(../img/Round-88.png) no-repeat;
  background-size: contain;
}
.content .right-block .monitoring ul .round-75 {
  padding-left: 3px;
  background: url(../img/Round-75.png) no-repeat;
  background-size: contain;
}
.content .right-block .monitoring ul .round-63 {
  padding-left: 3px;
  background: url(../img/Round-63.png) 40% no-repeat;
  background-size: contain;
}
.content .right-block .monitoring ul .round-50 {
  padding-left: 3px;
  background: url(../img/Round-50.png) 80% no-repeat;
  background-size: contain;
}
.content .right-block .monitoring ul .round-38 {
  padding-left: 3px;
  background: url(../img/Round-38.png) 80% no-repeat;
  background-size: contain;
}
.content .right-block .monitoring ul .round-25 {
  padding-left: 3px;
  background: url(../img/Round-25.png) 80% 0% no-repeat;
  background-size: inherit;
}
.content .right-block .monitoring ul .round-13 {
  padding-left: 3px;
  background: url(../img/Round-13.png) 80% 0% no-repeat;
  background-size: inherit;
}
.content .right-block .monitoring ul .server-filling {
  vertical-align: baseline;
}
.content .right-block .monitoring ul .server-filling .count-people {
  display: block;
  color: #ffffff;
  background: url(../img/man-user.png) 3% 60% no-repeat;
}
.content .right-block .monitoring ul .server-filling .count-people span {
  padding-left: 15px;
  color: #ff7100;
}
.content .right-block .monitoring ul .server-filling .count-people .count-on-server {
  padding-left: 0;
}
.content .right-block .monitoring .record-today {
  margin-top: 13px;
}
.content .right-block .monitoring .record-all-time {
  padding-bottom: 15px;
}
.content .right-block .monitoring .record-today,
.content .right-block .monitoring .record-all-time {
  padding: 3px 0;
  color: #ffffff;
  font-family: ProximaNova;
  font-size: 12px;
}
.footer {
  height: 110px;
}
.footer .copyright {
  color: #ffffff;
  font-size: 13px;
  font-family: PTSans;
}
.footer .copyright .text {
  padding-top: 15px;
  padding-left: 90px;
}
.footer .copyright img {
  float: left;
  width: 60px;
  padding-left: 16px;
}
.footer .copyright p {
  margin: 0;
  color: #7e7e7e;
}
#popup-registration {
  display: none;
}
.field {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #000000;
  opacity: 0.5;
  top: 0;
  z-index: 9;
}
.popup {
  position: fixed;
  top: 30%;
  left: calc((100% / 2) - 265px);
  width: 540px;
  background-color: #ffffff;
  z-index: 10;
}
.popup .h2 {
  text-align: center;
}
.popup .bonus {
  width: 100%;
  min-height: 118px;
  background-color: #dddddd;
}
.popup .bonus .content-bonus {
  width: 23%;
  margin: auto;
}
.popup .bonus .content-bonus img {
  position: relative;
  top: 21px;
  width: 64px;
}
.popup .bonus .content-bonus .count {
  display: inline-block;
  font-size: 28px;
  color: #ff4444;
  font-family: ProximaNova;
}
.popup .popup-text-thanks {
  margin: 20px 118px;
  text-align: center;
  font-size: 13px;
  color: #292929;
  font-family: PTSans;
  line-height: 1.2em;
}
.popup .green-button {
  margin-top: 23px;
  padding: 11px 27px;
}
.popup #close {
  position: absolute;
  right: -36px;
  top: -52px;
  color: #dddddd;
  font-size: 56px;
  cursor: context-menu;
}
.popup #close:hover {
  color: #7e7e7e;
  text-shadow: 1px 3px 3px #30363e;
}
