body {
    margin: 0;
}
.header {
    width: 100%;
    background: url("../img/Header-Back.png") repeat-x;
    padding: 20px 0;
}
.clear {
    clear: both;
}
.header-elements{
    width: 950px;
    margin: auto;
}
.header-elements img {
    width: 25%;
    float: left;
}
.menu {
    float: right;
}
.menu li {
    display: inline-block;
    padding: 0 15px;
}
.menu a {
    padding-top: 10px;
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
}
.menu .img {
    margin: auto;
    width: 21%;
}
.menu img {
    width: 22px;
}